<%= form_with(model: disciplina, local: true) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.collection_select(:professor_id, Professor.all, :id, :nome, {:prompt=>"Selecionar Professor"}) %>
  </div>

  <div class="field">
    <%= form.label "Nome da Disciplina" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label "Carga Horária" %>
    <%= form.text_field :cargaHoraria %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
