<%= form_with(model: mat_turma, local: true) do |form| %>
  <% if mat_turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mat_turma.errors.count, "error") %> prohibited this mat_turma from being saved:</h2>

      <ul>
      <% mat_turma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.collection_select(:aluno_id, Aluno.all, :id, :nome, {:prompt=>"Selecione o Aluno"}) %>
  </div>

  <div class="field">
    <%= form.label :turma_id %>
    <%= form.collection_select(:turma_id, Turma.all, :id, :nome, {:prompt=>"Selecione a Turma"}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
