 <div class="mat_turmas index">
  <h1>Matriculas </h1>
    <%= form_tag (mat_turmas_path format:"html"), :method => 'get' do %>  
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-5  form-group">  
              <%= text_field_tag :nome, params[:nome], :class => 'form-control', :placeholder=>"Pesquisar Matricula..." %>  
            </div>
            <div class="col-lg-2 form-group" style="float:left">
              <%= submit_tag "Pesquisar", name: nil, :class => "btn btn-primary" %>
            </div>
              <button style="float:right; margin-right: 20px; margin-bottom: 5px"class="btn btn-primary" type="button" onclick="javascript: location.href='<%= new_mat_turma_path %>';"><i class="fa fa-user-plus"></i> Efetuar Matricula</button>
        </div>
      </div>
    </div>
    <% end %>
</div>
<div class="table-responsive">
  <%= paginate @mat_turmas %>
  <table width="100%" class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th width="5%"><i class="fa fa-user-o"></i>  ID:</th>
        <th width="40%"><i class="fa fa-address-card-o"></i>  Nome Aluno</th>
        <th width="30%"><i class="fa fa-group"></i>  Turma</th>
        <th width="15%" class="text-center"><i class="fa fa-gears fa-fw"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @mat_turmas.each do |mat_turma| %>
        <tr>
          <td><%= mat_turma.id %></td>
          <td><%= mat_turma.aluno.nome %></td>
          <td><%= mat_turma.turma.nome %></td>
          <td class="text-center" onclick="window.location.reload(true);"><%= link_to 'Visualizar', mat_turma, :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px;' %>
          <%= link_to 'Alterar', edit_mat_turma_path(mat_turma), :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px' %>
          <%= link_to 'Remover', mat_turma, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom: 2px' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
</div>