<p id="notice"><%= notice %></p>

<p>
  <strong>Aluno:</strong>
  <%= @mat_turma.aluno %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @mat_turma.turma %>
</p>

<%= link_to 'Edit', edit_mat_turma_path(@mat_turma) %> |
<%= link_to 'Back', mat_turmas_path %>
