<div class="row">
	<div class="col-lg-6">
	    <h2 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Dados do Aluno</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-1 form-group" >
  		<label class = 'control-label'>Matricula</label>
		<input rows="1" readonly="true" class = 'form-control' value="<%= @aluno.id %>">          
    </div>
    <div class="col-lg-5 form-group">   
      	<label class = 'control-label'>Nome</label>
      	<input readonly="true" class = 'form-control' value="<%= @aluno.nome %>">
    </div>
</div> 
<div class="row">
	<div class="col-lg-2 form-group">
		<label class = 'control-label'>Data de Nascimento</label>
		<input readonly="true" class='form-control' value="<%= @aluno.dataNasc %>">
	</div>
	<div class="col-lg-4 form-group">
		<label class = 'control-label'>Endereço</label>
		<input readonly="true" class='form-control' value="<%= @aluno.endereco %>">
	</div>
</div>
<div class="row">
	<div class="col-lg-4 form-group" onclick="window.location.reload(true);">  
		<%= link_to 'Alterar Dados', edit_aluno_path(@aluno), :class => "btn btn-primary", :style=> 'color:#AAAAAA' %>
		<%= link_to 'Voltar',  alunos_path, :class => "btn btn-primary", :style=> 'color:#FFFFFF'%>
	</div>
</div>