<div class="col-lg-12">
	<h2 class="page-header">Geração de Relatórios - Temporário</h2>
</div>
<div class="text-center">
<%= link_to 'Professores - Excel', relatorioExcel_professors_path(format: :xlsx), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to "Professores - PDF", relatorioPDF_professors_path(format: :pdf), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to 'Alunos - Excel', relatorioExcel_alunos_path(format: :xlsx), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to "Alunos - PDF", relatorioPDF_alunos_path(format: :pdf), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to 'Disciplinas - Excel', relatorioExcel_disciplinas_path(format: :xlsx), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to "Disciplinas - PDF", relatorioPDF_disciplinas_path(format: :pdf), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to 'Funcionários - Excel', relatorioExcel_funcionarios_path(format: :xlsx), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
<%= link_to "Funcionários - PDF", relatorioPDF_funcionarios_path(format: :pdf), :target => "_blank", :class => "btn btn-primary", :style=> 'color:#FFFFFF; margin-bottom: 5px' %>
</div>