<%= form_with(model: hora, local: true) do |form| %>
  <% if hora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hora.errors.count, "error") %> prohibited this hora from being saved:</h2>

      <ul>
      <% hora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inicio %>
    <%= form.time_select :inicio %>
  </div>

  <div class="field">
    <%= form.label :fim %>
    <%= form.time_select :fim %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
