<p id="notice"><%= notice %></p>

<h1>Horas</h1>

<table>
  <thead>
    <tr>
      <th>Inicio</th>
      <th>Fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horas.each do |hora| %>
      <tr>
        <td><%= hora.inicio %></td>
        <td><%= hora.fim %></td>
        <td><%= link_to 'Show', hora %></td>
        <td><%= link_to 'Edit', edit_hora_path(hora) %></td>
        <td><%= link_to 'Destroy', hora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hora', new_hora_path %>
