<div class="col-lg-12">
    <h2 class="page-header">Dados do Professor</h2>
</div>
<div class="row">
	<div class="col-lg-1 form-group" >
  		<label class = 'control-label'>ID</label>
		<input rows="1" readonly="true" class = 'form-control' value="<%= @professor.id %>">          
    </div>
    <div class="col-lg-5 form-group">   
      	<label class = 'control-label'>Nome</label>
      	<input readonly="true" class = 'form-control' value="<%= @professor.nome %>">
    </div>
</div> 
<div class="row">
	<div class="col-lg-2 form-group">
		<label class = 'control-label'>Telefone</label>
		<input readonly="true" class='form-control' value="<%= @professor.telefone %>">
	</div>
	<div class="col-lg-4 form-group">
		<label class = 'control-label'>Endereço</label>
		<input readonly="true" class='form-control' value="<%= @professor.endereco %>">
	</div>
</div>
<div class="row">
	<div class="col-lg-4 form-group" onclick="window.location.reload(true);">  
		<%= link_to 'Alterar Dados', edit_professor_path(@professor), :class => "btn btn-primary", :style=> 'color:#AAAAAA' %>
		<%= link_to 'Voltar',  professors_path, :class => "btn btn-primary", :style=> 'color:#FFFFFF'%>
	</div>
</div>
