<div class="row">
  <div class="col-lg-6">
    <h2 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Atribuir Notas</h2>
  </div>
</div>
<div class="avaliacao form">
  <%= form_with(model: @avaliacao, local: true) do |form| %>
    <% if @avaliacao.errors.any? %>
      <div id="error_explanation" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@avaliacao.errors.count, "error") %> ao salvar avaliacao:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @avaliacao.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <!-- Campos do formulário -->
    <div class="row">
      <div class="col-lg-3 form-group" >  
        <%= form.label :disciplina_id %>
        <%= form.collection_select(:disciplina_id, Disciplina.all, :id, :nome, {prompt: "Selecionar"}, { :class => "form-control", :disabled => 'disabled'}) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 form-group">   
        <%= form.label :descricao, :class => 'control-label' %>
        <%= form.text_field :descricao, :class => 'form-control', :disabled => 'disabled' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 form-group", style="width: 200px">
        <%= form.label :data, :class => 'control-label' %>
        <%= form.text_field :data, :class => 'form-control', :disabled => 'disabled' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Alunos</h3>
        <%= form.fields_for :provas do |prova| %>
          <%= render 'provas_fields', f: prova %>
        <%end%>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 form-group">  
        <input type="submit" name="commit" class="btn btn-primary" value="Atribuir Notas" data-disable-with="Salvando Notas..."/>
        <%= link_to 'Voltar', avaliacaos_path, :class => "btn btn-primary", :style=> 'color:#AAAAAA' %>
      </div>
    </div>
  <% end %>
</div>