<div class="row">
	<div class="col-lg-6">
	    <h2 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Detalhes da Avaliação</h2>
	</div>
</div>
<div class="row">

	<div class="col-lg-3 form-group" >
  		<label class = 'control-label'>Disciplina</label>
		<input rows="1" readonly="true" class = 'form-control' value="<%= @avaliacao.disciplina.nome %>">          
    </div>
</div> 
<div class="row">
	<div class="col-lg-4 form-group">
		<label class = 'control-label'>Descrição</label>
		<input readonly="true" class='form-control' value="<%= @avaliacao.descricao %>">
	</div>
</div>
<div class="row">
	<div class="col-lg-2 form-group">
      	<label class = 'control-label'>Data</label>
		<input readonly="true" class='form-control' value="<%= @avaliacao.data %>">
    </div>
</div>
<div class="row">
	<div class="col-lg-4 form-group" onclick="window.location.reload(true);">  
		<%= link_to 'Alterar Dados', edit_avaliacao_path(@avaliacao), :class => "btn btn-primary", :style=> 'color:#AAAAAA' %>
		<%= link_to 'Voltar',  avaliacaos_path, :class => "btn btn-primary", :style=> 'color:#FFFFFF'%>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h3 class="page-header" style="margin-left: 0%;border-bottom-style: default; border-bottom-width: 1px; border-bottom-color: black;">Alunos</h3>
	</div>
</div>
		<% @avaliacao.provas.each do |prova| %>
		<p>
			<strong class="col-sm-5 col-form-label col-form-label-lg" style=""><%= prova.aluno_nome+": " %> </strong>
			<span class=""><%= prova.nota %></span>
			<% end %>
		</p>
<div class="row">
	<div class="col-lg-4 form-group" onclick="window.location.reload(true);">  
		<%= link_to 'Atribuir Notas', provas_avaliacaos_path(@avaliacao), :class => "btn btn-primary", :style=> 'color:#FFF' %>
	</div>
</div>
