<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @avaliacao.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @avaliacao.data %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @avaliacao.disciplina.nome %>
</p>
<h3>Alunos</h3>
<% @avaliacao.provas.each do |prova| %>
  <p>
  <strong><%= prova.aluno_nome %>:</strong>
  <%= prova.nota %>
</p>
<% end %>
<%= link_to 'Edit', edit_avaliacao_path(@avaliacao) %> |
<%= link_to 'Back', avaliacaos_path %>
