 <div class="frequenciaalunos index">
  <h1>Avaliações </h1>
    <%= form_tag (frequenciaalunos_path format:"html"), :method => 'get' do %>  
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-5  form-group">  
              
            </div>
            <div class="col-lg-2 form-group" style="float:left">
              
            </div>
              <button style="float:right; margin-right: 20px; margin-bottom: 5px"class="btn btn-primary" type="button" onclick="javascript: location.href='<%= new_frequenciaaluno_path %>';"><i class="fa fa-user-plus"></i> Criar Frequência</button>
        </div>
      </div>
    </div>
    <% end %>
</div>
<div class="table-responsive">
  <%= paginate @frequenciaalunos %>
  <table width="100%" class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th width="15%"><i class="fa fa-book"></i>  Disciplina</th>
        <th width="10%"><i class="fa fa-calendar"></i>  Data</th>
        <th width="10%" class="text-center"><i class="fa fa-gears fa-fw"></i></th>
        <th width="15%" class="text-center"><i class="fa fa-gears fa-fw"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @frequenciaalunos.each do |frequenciaaluno| %>
        <tr>
          <td><%= frequenciaaluno.disciplina.nome %></td>
          <td><%= frequenciaaluno.data %></td>
          <td class="text-center"><%= link_to 'Visualizar', frequenciaaluno, :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px;' %>
            <%= link_to 'Efetuar Presença', presencas_frequenciaalunos_path(frequenciaaluno), :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px;' %>
          <td class="text-center"><!--<%= link_to "Exportar - Excel", relatorioExcel_frequenciaalunos_path(frequenciaaluno, format: :xlsx), :target => "_blank", :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px;' %>-->
          <%= link_to 'Alterar', edit_frequenciaaluno_path(frequenciaaluno), :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px' %>
          <%= link_to 'Remover', frequenciaaluno, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom: 2px' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
</div>