<h1>New Frequencia</h1>
<%= form_with(model: @frequenciaaluno, local: true) do |form| %>
  <% if @frequenciaaluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frequenciaaluno.errors.count, "error") %> prohibited this frequencia from being saved:</h2>

      <ul>
      <% @frequenciaaluno1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.collection_select(:disciplina_id, Disciplina.all, :id, :nome,{}, {:disabled => "disabled"} ) %>
  </div>
  
  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, :disabled => "disabled" %>
  </div>


  <div id="listfields">
      <%= form.fields_for :presencas do |presenca| %>
        <%= render 'presencas_fields', f: presenca %>
      <%end%>
      <br><br>
    </div>
 
   



  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', frequenciaalunos_path %>