 <div class="salas index">
  <h1>Salas </h1>
    <%= form_tag (salas_path format:"html"), :method => 'get' do %>  
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-5  form-group">  
              <%= text_field_tag :nome, params[:nome], :class => 'form-control', :placeholder=>"Pesquisar Sala..." %>  
            </div>
            <div class="col-lg-2 form-group" style="float:left">
              <%= submit_tag "Pesquisar", name: nil, :class => "btn btn-primary" %>
            </div>
              <button style="float:right; margin-right: 20px; margin-bottom: 5px"class="btn btn-primary" type="button" onclick="javascript: location.href='<%= new_sala_path %>';"><i class="fa fa-user-plus"></i> Cadastrar Sala</button>
        </div>
      </div>
    </div>
    <% end %>
</div>
<div class="table-responsive">
  <%= paginate @salas %>
  <table width="100%" class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th width="5%"><i class="fa fa-user-o"></i>  Número:</th>
        <th width="10%"><i class="fa fa-address-card-o"></i>  Bloco</th>
        <th width="10%"><i class="fa fa-mobile"></i>  Capacidade</th>
        <th width="15%"> </th>
        <th width="12%" class="text-center"><i class="fa fa-gears fa-fw"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @salas.each do |sala| %>
        <tr>
          <td><%= sala.numSala %></td>
          <td><%= sala.bloco %></td>
          <td><%= sala.maxpessoas %></td>
          <td> </td>
          <td class="text-center" onclick="window.location.reload(true);"><%= link_to 'Visualizar', sala, :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px;' %>
          <%= link_to 'Alterar', edit_sala_path(sala), :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom:2px' %>
          <%= link_to 'Remover', sala, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-xs', :style=>'color:white; margin-bottom: 2px' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
</div>